<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="BPELFactory.contribution1"
            nameFilter="*.bpmn"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="BPELFactory.menu1"
               label="BPMN -&gt; BPEL">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="bpelfactory.popup.actions.BPMN2BPELAction"
               enablesFor="1"
               id="BPELFactory.newAction"
               label="Generate BPEL"
               menubarPath="BPELFactory.menu1/group">
         </action>
         <action
               class="bpelfactory.popup.actions.RewriteBPMNAction"
               enablesFor="1"
               id="BPELFactory.RewriteBPMN"
               label="Rewrite BPMN"
               menubarPath="BPELFactory.menu1/group">
         </action>
      </objectContribution>
   </extension>

</plugin>
